body {
    font-family: sans-serif;
    background-color: rgb(0, 0, 0);
}

header {
    justify-content: space-between;
    padding: ;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.button {
    background-color: #36bbce;
    
    text-decoration: none;
    padding: 15px;
    font-size: 24px;
    border-radius: 10px;
}

nav {
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    padding: 25px 100px 25px 95px;
    display: flex;
    justify-content: space-around;
    
}

.nav-link {
    font-size: 24px;
    color: white;
    text-decoration: none;
}

h1 {
    text-align: center;
    color: white;
    font-size: 36px;
    margin-top: ;
    margin-bottom: ;
}

p {
    font-size: 24px;
}

.info {
    flex-wrap: wrap;
    width: 1100px;
    margin: 0px auto 0px auto;
    display: block;
    max-width: 1100px;
}

article {
    background-color: white;
    padding: ;
    width: 400px;
    margin:15px 0px 15px 0px;
}

.article-but {
    text-decoration: none;
    background-color: greenyellow;
    color: black;
    font-size: 24px;
    text-align: center;
    padding: 10px 75px 10px 75px;
    margin: 10px 10px 10px 10px;
}

footer {
    display: flex;
    background-color: black;
    padding: ;
    color: white;
}

footer a {
    margin-right: ;
}

footer p {
    font-size: 24px;
}
.h2{
    color: white;
}
